.nav-heading {
    background-color: transparent;
    text-transform: uppercase;
    font-size: 14px;
    color: #9aa5ac;
    letter-spacing: 1px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-bottom: 10px;
}

.nav-link {
    color: #333;
}

.nav-link.active {
    color: $primary;
}
