// Body
$body-bg: darken(#f5f8fa, 3%);

// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$theme-colors: ("primary": #3AA5A9, "secondary": #DEF2F1, "danger": #BD4040);
