// Body
$body-bg: #f2f2f2;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$theme-colors: ("primary": #5481db, "light": #F2F2F2, "danger": #BD4040, "dark": #2A313D);
