// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "text";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.card-header {
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 0 solid rgba(55, 63, 67, 0.125);
}

.card .card-header {
    padding: 1rem 1.25rem;
    border-bottom: solid 1px #eee;
}
