// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "text";

$menu: lighten(theme-color("dark"), 6%);

input::placeholder {
    color: #aab7c4 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn {
    font-weight: 700;
}

.btn-link {
    border: 0;
}

.navbar-startup {
    padding: 0;
    line-height: 35px;

    .dropdown-menu {
        border-radius: 0;
        margin: 0;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .dropdown-item {
        line-height: 30px;
    }

    .nav-item.show {
        background-color: $menu;
    }
}

.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    border: 0;
    border-top: solid 6px theme-color("primary");
}

.card .card-header {
    padding: 1rem 1.25rem;
    background: 0;
    border: 0;
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: 600;
}

.dropdown-menu {
    background-color: $menu;
    border: 0;
    color: white;

    a {
        color: white;
    }

    a:hover {
        background-color: darken($menu, 5%);
        color: white;
    }
}

.btn-primary {
    color: white;
}

.alert {
    border-width: 0;
}

.alert-danger {
    background-color: rgba(theme-color("danger"), 0.125);
    color: darken(theme-color("danger"), 20%);
}
